<div class="logo-wrap" data-pagefind-ignore>
  <a class="logo-link logo-link--tau" href="https://tau.ac.il/" aria-label="אתר אוניברסיטת תל אביב">
    <img class="site-logo site-logo--tau" src="{{ '/Tel_Aviv_university_logo.jpg' | relative_url }}" alt="אוניברסיטת תל אביב" width="1478" height="479">
  </a>
  <a class="logo-link logo-link--safra" href="https://en-ethics.tau.ac.il/" aria-label="אתר מרכז אדמונד ולילי ספרא לאתיקה באוניברסיטת תל אביב">
    <img class="site-logo site-logo--safra" src="{{ '/Safra%20Center%20Logo%20Green.jpg' | relative_url }}" alt="מרכז אדמונד ולילי ספרא לאתיקה, אוניברסיטת תל אביב" width="728" height="177">
  </a>
</div>
