<div class="logo-wrap" data-pagefind-ignore>
  <div class="logo-mark">
    <img class="site-logo" src="{{ '/CARRD%20LOGO_3lang_transparent.png' | relative_url }}" alt="לוגו CARRD ולוגו אוניברסיטת תל אביב בשלוש שפות" width="529" height="89">
    <a class="logo-region logo-region-top" href="https://carrdtau.sites.tau.ac.il/" aria-label="אתר CARRD"></a>
    <a class="logo-region logo-region-bottom" href="https://www.tau.ac.il/" aria-label="אתר אוניברסיטת תל אביב"></a>
  </div>
  <div class="site-construction-notice">האתר עדיין בבנייה, ונמצא לפני המעבר לכתובתו הקבועה.</div>
</div>
